html,
body {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.body_all_of_it {
	background-color: antiquewhite;
}
.body_all_of_it .header_all_of_it {
	margin-top: 4vw;
	margin-bottom: 2vw;
}
.body_all_of_it .header_all_of_it h1 {
	text-align: center;
	font-size: 2.8rem;
	font-weight: bold;
}
.body_all_of_it .header_all_of_it section {
	display: flex;
	place-content: center space-around;
	align-items: center;
	margin-top: 3vw;
	font-weight: bold;
	font-size: 1.7rem;
	flex-wrap: wrap;
}
.body_all_of_it .main_all_of_it .main_header {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	margin-top: 2vw;
}
.body_all_of_it .main_all_of_it .who_am_i_para {
	font-size: 1.5rem;
	margin: 4vw 3vw 4vw 3vw;
}
.body_all_of_it .main_all_of_it .proficient_head {
	font-size: 2rem;
	font-weight: bold;
	display: flex;
	place-content: center center;
	align-items: center;
	margin-top: 2vw;
}
.body_all_of_it .main_all_of_it ul li {
	display: flex;
	flex-wrap: wrap;
	place-content: center center;
	align-items: center;
	font-size: 1.7rem;
	margin: 30px 0px 30px 0px;
}
.body_all_of_it .main_all_of_it ul li p {
	margin-left: 10px;
}
.body_all_of_it .main_all_of_it .diploma_all_of_it .my_qual {
	display: flex;
	font-size: 2rem;
	place-content: center center;
	align-items: center;
	font-weight: bold;
	flex-wrap: wrap;
}
.body_all_of_it .main_all_of_it .diploma_all_of_it .my_qual h2 {
	margin-left: 1vw;
}
.body_all_of_it .main_all_of_it .diploma_all_of_it p {
	text-align: center;
	margin: 1vw 0 1vw 0;
	font-size: 1.7rem;
}
.body_all_of_it .main_all_of_it .diploma_all_of_it h2 {
	text-align: center;
	margin: 1vw 0 1vw 0;
	font-size: 1.7rem;
	font-weight: 600;
}
.body_all_of_it .main_all_of_it .my_exp_all_of_it .my_exp {
	display: flex;
	flex-wrap: wrap;
	place-content: center center;
	align-content: center;
	font-size: 2rem;
	margin-top: 1vw;
}
.body_all_of_it .main_all_of_it .my_exp_all_of_it .my_exp p {
	margin-left: 1vw;
	font-weight: bold;
}
.body_all_of_it .main_all_of_it .my_exp_all_of_it .my_place_ixiono {
	margin: 2vw 0 2vw 0;
}
.body_all_of_it .main_all_of_it .my_exp_all_of_it p {
	text-align: center;
	font-size: 1.7rem;
}
