html,body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    background-color: seashell;
    width: auto;
    margin: 10px 50px;
   
}
header{
    margin-top: 50px;
}
header h1{
    font-weight: bold;
    font-size: 50px;
    
}
header section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 40px;
}
header h2{
    margin-left: 50px;
    margin-top: 20px;
}
header i{
    margin-left: 50px;
    margin-top: 20px;
}


i:hover{
    color:orange;
}
#skills{
    display: flex;
    flex-direction: column;
  
    
}
#skills i{
    margin-top: 15px;
    font-weight: lighter;
    color: black;
}
#skills strong{
    font-weight: bold;
}
.para{
    margin: 50px;
}

@media only screen and (max-width: 480px){
    html,body{
        width: 300px;
        text-align: left;
        margin-left: 10px;
        font-size: 20px;
    }
    header {
        text-align: left;
        margin-left:0px;
    }
    header h2{
        margin-left: 0px;
    }
}
